/* Global Styles */

body {
    background-color: #212121; /* Black background */
    font-family: Arial, sans-serif;
  }
  
  /* GUI Elements */
  
  .GUI {
    background-color: #3498db; /* Vibrant blue */
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  .GUI:hover {
    background-color: #2980b9; /* Darker vibrant blue on hover */
  }
  
  .Label {
    color: #ffffff; /* White text */
    font-size: 18px;
    font-weight: bold;
  }
  
  .TextButton {
    background-color: #3498db; /* Vibrant blue */
    color: #ffffff; /* White text */
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  .TextButton:hover {
    background-color: #2980b9; /* Darker vibrant blue on hover */
  }
  
  /* Other Styles */
  
  .search {
    background-color: #444444; /* Dark gray search bar */
    padding: 10px;
    border-radius: 5px;
  }
  
  .search input {
    background-color: #333333; /* Dark gray input field */
    border: none;
    padding: 10px;
    width: 100%;
    font-size: 18px;
    color: #ffffff; /* White text */
  }